body {
	background: url('../img/sea_battle/sea.jpg');
	background-size: cover;
}

#body-wrapper {
	height: 100%;
	width: 100%;

	text-align: center;
}

#score > * {
	position: absolute;
	left: 1em;
	padding: 0.5em;
	background-color: white;
	text-align: left;

	opacity: 0.7;

	border: 1px solid rgb(0, 0, 100);
}

#score-current {
	margin-bottom: 1em;
	top: 1em;
}

#score-total {
	top: 10em;
}

#radar {
	position: absolute;

	left: 1em;
	bottom: 3em;
	
	height: 10em;
	width: 10em;

	background: url('../img/sea_battle/radar.png') no-repeat center center;
	background-size: 100%;
}

#radar:hover {
	cursor: pointer;
	opacity: 0.7;
}

#field {
	height: 40em;
	width: 40em;

	border-left: 1px solid rgb(0, 0, 100);
	border-top: 1px solid rgb(0, 0, 100);

	line-height: 0px;

	display: inline-block;
}

#field .cell {
	display: inline-block;

	height: 4em;
	width: 4em;

	box-sizing: border-box;

	border-right: 1px solid rgb(0, 0, 100);
	border-bottom: 1px solid rgb(0, 0, 100);
	background-color: rgb(70, 100, 255);

	transition: background 0.2s ease-in-out;

	opacity: 0.9;
}

#field .cell:hover {
	cursor: pointer;
	background-color: rgb(200, 200, 255);
	opacity: 0.7;
}

#field .cell-empty {
	background: url('../img/sea_battle/empty.png') no-repeat center center;
	background-size: 100%;
	opacity: 1;
}

#field .cell-ship {
	background: url('../img/sea_battle/ship.png') no-repeat center center;
	background-size: 100%;
	opacity: 1;
}